
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<title>About As || Medicawell</title>

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>About Us</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li>
                            <a href="/Home/index">Home</a>
                        </li>
                        <!-- comment for inline hack
                        -->
                        <li>
                            About Us
                        </li>
                    </ul><!-- /.list-line -->
                </div><!-- /.pull-left -->
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="default-section sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="text-content">
                    <h4> Medicawell is a high-tech medical tourism company which established to make health tourism easy for you. We connect best hospitals, clinics, doctors and you via Medicawell web-portal. You could easily get second opinions or treatment plans just by clicks.  <br></h4>
                    <h4>Mission</h4>
                    <div class="text">
                        <p>
                            As Medicawell, our mission is to connect all the patients with hospitals or clinics that provide the highest quality, most reliable and affordable prices for their treatment..
                        </p><br>
                    </div>
                    <h4>Vision</h4>
                    <div class="text">
                        <p>
                            As Medicawell, our vision is to be the most reliable and most transparent health tourism company that provides service with best hospitals, clinics and doctors in many countries within 5 years.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <figure class="img-box">
                    <a href="#"><img src="/images/resource/12.jpg" alt=""></a>
                </figure>
            </div>
        </div>
    </div>
</section>
<form action="/Home/about" method="post">
    <section>
        <div id="anasayfaDemoTalep" class="AnasayfaDemoTalepContent">
            <div class="anasayfaDemoTalepInner">
                <div class="container">
                    <div class="row text-center wow fadeInUp" style="color: #fff;">
                        <div class="modulTittle col-lg-12">
                            <h2>15 Gün Ücretsiz Deneyin</h2>
                            <p class="lead">
                                Devlerin kullandığı e-ticaret alt yapısının 15 günlük demosu hemen mailinize gelsin.
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp demoItem ">
                            <input type="text" class="form-control1 AnasayfaForm IsimIco" placeholder="Firma" name="txtbxFirmaAdi" id="txtbxFirmaAdi" autocomplete="off">
                      
                        
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp demoItem">
                            <input type="text" class="form-control1 AnasayfaForm IsimIco" placeholder="Adınız Soyadınız" name="txtbxYetkiliKisi" id="txtbxYetkiliKisi" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp demoItem">
                            <input type="text" class="form-control1 AnasayfaForm EmailIco" placeholder="Email" name="txtbxMail" id="txtbxMail" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp demoItem">
                            <div class="intl-tel-input">
                            </div><input type="text" class="form-control1  AnasayfaForm IsTelIco" placeholder="Telefon" name="txtbxTelefon" id="txtbxTelefon" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center; margin-top: 30px;">
                    <span class="spanDemoKaydet lead" style="display: none; color: white;">İşleminiz yapılıyor lütfen bekleyiniz...</span>
                    <input type="submit" id="btnDemoGonder" name="btnDemoGonder" value="Demoyu Gönder" class="btn2 btn-success ucretsizDemo" onclick="demoKaydet();">
                </div>
            </div>
        </div>
    </section>
</form>
<section class="service-style3 sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our Smart Approach</h2>
        </div>
        <div class="service_carousel">
            <div class="item">

                <div class="bottom-content">

                    <div class="icon_box">
                        <span class="icon-money2"></span>
                    </div>
                    <a href="#"><h4>Financial Service</h4></a>
                    <p class="title">Trusted</p>
                </div>
                <div class="overlay-box">
                    <div class="inner-box">
                        <div class="icon_box">
                            <span class="icon-money2"></span>
                        </div>
                        <a href="#"><h4>Financial Service</h4></a>
                        <p class="title">Trusted</p>
                        <div class="text">
                            <p>Electronic Materials has servd the semicondctor industry as a leading-edge materials.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="item">

                <div class="bottom-content">

                    <div class="icon_box">
                        <span class="icon-landscape"></span>
                    </div>
                    <a href="#"><h4>Manufacturing</h4></a>
                    <p class="title">Large Scale</p>
                </div>
                <div class="overlay-box">
                    <div class="inner-box">
                        <div class="icon_box">
                            <span class="icon-landscape"></span>
                        </div>
                        <a href="#"><h4>Manufacturing</h4></a>
                        <p class="title">Large Scale</p>
                        <div class="text">
                            <p>Electronic Materials has servd the semicondctor industry as a leading-edge materials.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="item">

                <div class="bottom-content">

                    <div class="icon_box">
                        <span class="icon-medical"></span>
                    </div>
                    <a href="#"><h4>Health Department</h4></a>
                    <p class="title">Corporation</p>
                </div>
                <div class="overlay-box">
                    <div class="inner-box">
                        <div class="icon_box">
                            <span class="icon-medical"></span>
                        </div>
                        <a href="#"><h4>Health Department</h4></a>
                        <p class="title">Corporation</p>
                        <div class="text">
                            <p>Electronic Materials has servd the semicondctor industry as a leading-edge materials.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="item">

                <div class="bottom-content">

                    <div class="icon_box">
                        <span class="icon-transport"></span>
                    </div>
                    <a href="#"><h4>Surface Transport</h4></a>
                    <p class="title">Very Economy</p>
                </div>
                <div class="overlay-box">
                    <div class="inner-box">
                        <div class="icon_box">
                            <span class="icon-transport"></span>
                        </div>
                        <a href="#"><h4>Surface Transport</h4></a>
                        <p class="title">Very Economy</p>
                        <div class="text">
                            <p>Electronic Materials has servd the semicondctor industry as a leading-edge materials.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<section class="subscribe center sec-padd" style="background-image: url(/images/background/2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2>Subscribe For Newsletter</h2>
                <p>Idea of denouncing pleasure praising pain was born and I will give you a complete account <br> ofsystem, expound the great explorer.</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="Email Address"><span class="fa fa-envelope"></span>
                    <button type="submit" class="thm-btn">subscribe us</button>
                </form>
            </div>
        </div>

    </div>
</section>
<section class="our-team sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our team</h2>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t1.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Tunay Sabri Yılmaz</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +123-456-7890</li>
                            <li><i class="fa fa-envelope"></i><a href="#">tunaysabriyilmaz@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t2.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Çağrı Çimenci</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +987-654-3210</li>
                            <li><i class="fa fa-envelope"></i><a href="#">cagricimenci@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t3.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Metin Erbek</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +456-789-0123</li>
                            <li><i class="fa fa-envelope"></i><a href="#">metinerbek@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t4.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Abdulsamet Tutuş</h4></a>
                        <p>Electiric & Electronic Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +789-012-3456</li>
                            <li><i class="fa fa-envelope"></i><a href="#">abdulsamettutus@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>

        </div>
    </div>

</section>





