
@{
    ViewBag.Title = "blogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<title>Blog || Medicawell</title>
<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3></h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/blogGrid">Blog</a></li>
                        <li>Blog Single Post</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>




<div class="sidebar-page-container sec-padd-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <section class="blog-section">
                    <div class="large-blog-news single-blog-post single-blog wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="date">21 <br> Apr</div>
                        <figure class="img-holder">
                            <img src="/images/blog/7.jpg" alt="News">
                        </figure>
                        <div class="lower-content">
                            <h4><a href="/Home/blogDetails">Experts Openion for save money for your future.</a></h4>
                            <div class="post-meta">by Stephen Villo  |  Consulting  |  18 Comments</div>
                            <div class="text">
                                <p>The great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>

                                <p>Who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it right to find fault.</p>
                            </div>
                        </div>
                        <div class="author">
                            <!-- Image -->
                            <img src="/images/blog/12.jpg" alt="">
                            <div class="author-comment">
                                <div class="quote">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p>They have got my project on time with competition seds with a highly skilled, well-organized and denouncing of pleasures experienced team of professional.</p>
                                <h5>Dohn Gaskel</h5>
                                <p class="a-title">Manager</p>
                            </div>
                        </div>
                        <div class="text">
                            <p>Know how to pursue pleasure rationally encounter consequences that are extremely painful seds or again is there anyone who loves or pursues or desires to obtain pain of itself, because seds our it pain, but because occasionally circumstances occur which toil and pain can  undertakes laborious physical exercise.</p>
                        </div>
                    </div>
                    <div class="outer-box">

                        <div class="share-box clearfix">
                            <ul class="tag-box pull-left">
                                <li>Tags:</li>
                                <li><a href="#">Consulting,</a></li>
                                <li><a href="#">Business,</a></li>
                                <li><a href="#">Seminar,</a></li>
                            </ul>
                            <div class="social-box pull-right">
                                <span>Share <i class="fa fa-share-alt"></i></span>
                                <ul class="list-inline social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="inner-title">
                            <h3>About Author</h3>
                        </div>
                        <div class="post-author">
                            <div class="inner-box">
                                <figure class="author-thumb"><img src="/images/blog/author.jpg" alt=""></figure>
                                <h4>Mark Richardson</h4>
                                <div class="">
                                    <p>We will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                    <ul class="list-inline social">
                                        <li>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-youtube"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="product-review-tab">

                            <div class="inner-title">
                                <h3>Read Comments</h3>
                            </div>
                            <div class="review-box">


                                <div class="single-review-box">
                                    <div class="img-holder">
                                        <img src="/images/shop/thumb1.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="text-holder">
                                        <div class="top">
                                            <div class="name pull-left">
                                                <h4>Steven Rich – Sep 17, 2016:</h4>
                                            </div>
                                            <div class="review-box pull-right">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <p>How all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End single review box-->
                                <!--Start single review box-->
                                <div class="single-review-box">
                                    <div class="img-holder">
                                        <img src="/images/shop/thumb2.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="text-holder">
                                        <div class="top">
                                            <div class="name pull-left">
                                                <h4>William Cobus – Aug 21, 2016:</h4>
                                            </div>
                                            <div class="review-box pull-right">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <p>there anyone who loves or pursues or desires to obtain pain itself, because it is pain, but because occasionally circumstances occur some great pleasure.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--End single review box-->
                            </div>
                            <div class="add_your_review">
                                <div class="inner-title">
                                    <h3>Add Your comments</h3>
                                </div>

                                <span>Your Rating</span>
                                <ul class="rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <ul class="active rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <ul class="rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <ul class="rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <ul class="fix_border rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>

                                <div class="default-form-area">
                                    <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
                                        <div class="row clearfix">
                                            <div class="col-md-6 col-sm-6 col-xs-12">

                                                <div class="form-group">
                                                    <input type="text" name="form_name" class="form-control" value="" placeholder="Your Name *" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="email" name="form_email" class="form-control required email" value="" placeholder="Your Mail *" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="form_phone" class="form-control" value="" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="form_subject" class="form-control" value="" placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <textarea name="form_message" class="form-control textarea required" placeholder="Your Message...."></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                                    <button class="thm-btn2" type="submit" data-loading-text="Please wait...">send message</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div> <!-- End of .add_your_review -->
                        </div>

                    </div>

                </section>



            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="blog-sidebar">
                    <div class="sidebar_search">
                        <form action="#">
                            <input type="text" placeholder="Search....">
                            <button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div><br><br> <!-- End of .sidebar_styleOne -->

                    <div class="category-style-one">
                        <div class="inner-title">
                            <h4>Categories</h4>
                        </div>
                        <ul class="list">
                            <li><a href="#" class="clearfix"><span class="float_left">Business Growth </span><span class="float_right">(6)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Consulting </span><span class="float_right">(2)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Management  </span><span class="float_right">(5)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Customer Insights </span><span class="float_right">(10)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Organization  </span><span class="float_right">(4)</span></a></li>
                        </ul>
                    </div><br> <!-- End of .sidebar_categories -->

                    <div class="popular_news">
                        <div class="inner-title">
                            <h4>latest news</h4>
                        </div>

                        <div class="popular-post">
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="/images/blog/post-1.jpg" alt=""></a></div>
                                <a href="#"><h5>Finance & legal <br>throughout project.</h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i>Jan 08, 2017 </div>
                            </div>
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="/images/blog/post-2.jpg" alt=""></a></div>
                                <a href="#"><h5>What makes us best <br>in the world? </h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i>Dec 18, 2016</div>
                            </div>
                            <div class="item">
                                <div class="post-thumb"><a href="#"><img src="/images/blog/post-3.jpg" alt=""></a></div>
                                <a href="#"><h5>Why People go with <br>Experts.</h5></a>
                                <div class="post-info"><i class="fa fa-calendar"></i>Nov 21, 2016 </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="sidebar-intsgram">
                        <div class="inner-title">
                            <h4>Instagram</h4>
                        </div>
                        <ul class="list-inline clearfix">
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i1.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i2.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i3.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i4.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i5.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>
                            <li>
                                <div class="inner-box">
                                    <img src="/images/blog/i6.jpg" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">
                                                <a href="#"><i class="fa fa-link"></i></a>
                                            </div><!-- /.content -->
                                        </div><!-- /.box -->
                                    </div><!-- /.overlay -->
                                </div>
                            </li>


                        </ul>
                    </div>

                    <div class="sidebar_tags wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="inner-title">
                            <h4>Tag Cloud </h4>

                        </div>

                        <ul>
                            <li><a href="#" class="tran3s">Book</a></li>
                            <li><a href="#" class="tran3s">Company</a></li>
                            <li><a href="#" class="tran3s">Ideas</a></li>
                            <li><a href="#" class="tran3s">Energy</a></li>
                            <li><a href="#" class="tran3s">Engines</a>  </li>
                            <li><a href="#" class="tran3s">Chemical</a></li>
                            <li><a href="#" class="tran3s">Industry</a> </li>
                            <li><a href="#" class="tran3s">Research</a></li>
                        </ul>
                    </div> <!-- End of .sidebar_tags -->

                </div> <!-- End of .wrapper -->
            </div>
        </div>
    </div>
</div>


