@{
    ViewBag.Title = "dealership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Dealership || Medicawell</title>
<div class="IcerikContent">
    <div class="IcerikSayfaBg">
        <div class="container" style="position: relative;">
            <div class="modulTittle urunlerimiz">
                <h1>
                    Dealership
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container text-center sayfaIciDesc">
    <h2>
        Turkey's number one e-commerce solution system is looking for partners.
    </h2>
</div>
<div class="bayilikContent">
    <div class="container text-center">
        <p>

            Medicawell Family, which we have established together with our dealers serving in many fields such as E-Commerce consultants, agencies, computer and software companies
            you can benefit from our special campaigns and unique opportunities.
        </p>
        <p>
            With our ten years of experience in the industry,
            we will be happy to share our knowledge with you.
        </p>
    </div>
    <div class="container text-center" style="margin: 40px auto;">

        <img src="~/images/project/e-ticaret_bayilik.png" />

    </div>
    <div class="container text-center">
        <h3 id="dealership">
            Earn More with Medicawell
        </h3>

        <p class="lead">
            Using an infrastructure that will satisfy your customers and walking with a strong company like Medicawell with you <br> <br>
            will make you stronger.

        </p>
    </div>
    <div class="container text-center" style="margin: 40px auto;">
        <img src="~/images/project/bayilikTablo.png" />
    </div>
</div>
<form class="dealership">
    <div class="bayilikFormBg">
        <div class="bayilikFormInner" style="padding: 60px 0 0 0;">

            <div class="container">
                <div class="row text-center " style="color: #fff; margin-bottom: 40px;">
                    <div class="modulTittle col-lg-12">
                        <h3 style="color: #fff;">DEALER APPLICATION FORM</h3>
                        <p style="color: #fff;" class="lead">
                            Turkey's number one e-commerce solution system is looking for partners.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-mg-3 demoItem">
                        <input name="ctl00$ContentPlaceHolder1$txtbxFirmaAdi" type="text" id="ctl00_ContentPlaceHolder1_txtbxFirmaAdi" class="form-control" placeholder="Company Name">
                    </div>

                    <div class="col-mg-3 demoItem">
                        <input name="ctl00$ContentPlaceHolder1$txtbxYetkiliKisi" type="text" id="ctl00_ContentPlaceHolder1_txtbxYetkiliKisi" class="form-control" placeholder="Authorized Person">
                    </div>

                    <div class="col-mg-3 demoItem">
                        <input name="ctl00$ContentPlaceHolder1$txtbxTelefon" type="text" id="ctl00_ContentPlaceHolder1_txtbxTelefon" class="form-control" placeholder="Phone Number">
                    </div>

                    <div class="col-mg-3 demoItem">
                        <input name="ctl00$ContentPlaceHolder1$txtbxMail" type="text" id="ctl00_ContentPlaceHolder1_txtbxMail" class="form-control" placeholder="E-Mail Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-mg-12 demoItem">
                        <textarea name="ctl00$ContentPlaceHolder1$txtbxMesaj" rows="2" cols="20" id="ctl00_ContentPlaceHolder1_txtbxMesaj" class="form-control" placeholder="Message \ Note"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-mg-12 demoItem">
                        <input type="submit" name="ctl00$ContentPlaceHolder1$btnGonder" value="Formu Gönder" id="ctl00_ContentPlaceHolder1_btnGonder" class="btn2 btn-success2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>