
@{
    ViewBag.Title = "medicawellPremium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<title>Our Products || Medicawell</title>
<div class="premiumsatir satir-1">
    <div class="primiumTittle">
        <h2>
            Remove Limits with Medicawell Premium!
        </h2>
        <p>
            With over 4,000 active e-commerce sites and 10 years of E-Commerce software experience, we are able to develop custom project management, consulting and custom software solutions for your brand, <br>
            In the e-commerce world where competition is great, we ensure you reach success quickly.
        </p>

        <img src="~/images/products/premium1.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
<div class="premiumsatir satir-2">
    <div class="primiumTittle">
        <h2>
            Custom E-Commerce Software Service
        </h2>
        <p>
            With the power of Medicawell's advanced cloud e-commerce structure, we are eliminating the boundaries with your brand-specific e-commerce software. E-Commerce site software <br>
            we listen to you for your needs, project, transfer our 10 years of experience and prepare you completely for you. This prevents you from wasting time for various reasons, <br>
            we are developing special specifications and modules.
        </p>

        <img src="~/images/products/premium2.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>
        
    </div>

</div>
<div class="premiumsatir satir-3">
    <div class="primiumTittle">
        <h2>
            Special Application Solutions

        </h2>
        <p>
            E-Commerce outside your site, operational burden to lighten, will work for your profitability, logistics, warehouse management, customer service, power plant and robot integration, <br>
            Medicawell Premiumda special application solutions that can manage your operations as support.
        </p>

        <img src="~/images/products/premium3.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
<div class="premiumsatir satir-4">
    <div class="primiumTittle">
        <h2>
            Accounting &amp; ERP Integration
        </h2>
        <p>
            Regardless of your accounting and ERP program, integrating with your e-commerce software with specific interviews and solutions related to integration infrastructure, <br>
            3. We do custom software development with solutions without dealing with companies.
        </p>

        <img src="~/images/products/premium4.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
<div class="premiumsatir satir-5">
    <div class="primiumTittle">
        <h2>
            Special Design Solutions
        </h2>
        <p>
            With our special design service that will increase your competitiveness in your industry and provide extra confidence to your customers, your dreams and your business requires
            your original designs are designed by the experienced art directors of Medicawell.
            If you want to have no special software is integrated into your e-commerce site.
        </p>

        <img src="~/images/products/premium5.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
<div class="premiumsatir satir-6">
    <div class="primiumTittle">
        <h2>
            Special Support Service
        </h2>
        <p>
            Your staff is always in the Ticimax office! 7/24 Outside our call center and call center, we provide you with a dedicated support representative and support topics, <br>
            As a member of your brand, Medicawell supports you with your special requests, design changes and software requests, <br>
            your requests, support and requests are met with priority.
        </p>

        <img src="~/images/products/premium6.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
<div class="premiumsatir satir-7">
    <div class="primiumTittle">
        <h2>
            Dedicated Software Allocation
        </h2>
        <p>
            Special software e-commerce solutions, if you wish, outside the Medicawell software team, you can work in your office as you wish to hire a special software company <br>
            you can talk with our expert software expert with our service, you can transfer your requests one to one, you can resolve your transactions quickly and quickly <br>
            With expert developers, you can be ahead of your competitors without slowing down.
        </p>

        <img src="~/images/products/premium7.png" class="img-responsive" />
        <a href="/Home/freeContact" class="fancybox premiumBtn">CLICK FOR PRICE OFFER</a>

    </div>

</div>
