
@{
    ViewBag.Title = "ourProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Our Products || Medicawell</title>
<div class="EihracatContentOuter">
    <div class="container">
        <div class="IcerikSayfaBg">
            <div class="container">
                <div class="modulTittle urunlerimiz" style="line-height: normal;">
                    <h1>
                        Get Strong with E-Export with Medicawell,
                        <br />
                        Sell ​​Your Products to the World!
                    </h1>
                </div>
            </div>
            <div class="container text-center" style="margin-bottom: 30px; margin-top: 30px;">
                <h2 style="font-size: 15px;">It's time to sell your products all over the world!</h2>
            </div>
        </div>
    </div>
</div>
<div class="PaketAvantajContent ihracatContentLine_1 anasayfaTittle">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 modulTittle ">
                <h2>The Best Way to Sell Your Products to All Points of the World!</h2>
            </div>
        </div>
        <div style="margin-bottom: 40px;" class="hidden-xs"></div>
        <div class="row">
            <div class="col-lg-12">
                <div id="owl-demo-12" class="owl-carousel owl-theme owl-loaded owl-drag">



                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="width: 1755px; transform: translate3d(-585px, 0px, 0px); transition: all 0.25s ease 0s;">
                            <div class="owl-item" style="width: 555px; margin-right: 30px;">

                            </div><div class="owl-item active" style="width: 555px; margin-right: 30px;">
                                <div class="item wow fadeInRight">
                                    <div class="PaketAvantajBox">
                                        <div class="solBolum">
                                            <p class="boximages">
                                                <img src="~/images/products/global_moduller.jpg" />
                                            </p>
                                        </div>
                                        <div class="sagBolum">
                                            <p class="boxTitle">
                                                Global and Advanced Modules
                                            </p>
                                            <p class="boxIcerik">
                                                User-specific language, currency and special pricing, different seo settings for each language, and sales to different countries at different prices.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 555px; margin-right: 30px;">
                                <div class="item">
                                    <div class="PaketAvantajBox">
                                        <div class="solBolum">
                                            <p class="boximages">
                                                <img src="~/images/products/hizlikolaybaslangic.jpg" />
                                            </p>
                                        </div>
                                        <div class="sagBolum">
                                            <p class="boxTitle">
                                                Global Marketplace Integrations
                                            </p>
                                            <p class="boxIcerik">
                                                Send your products to your e-commerce site with one click, Ebay, Amazon, Ali Express, such as the Marketplacelere automatically send, incoming orders via your e-commerce site to track and shipments over a single panel.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="guncellemeContent">
    <div class="guncellemeContentBg">
        <div class="container">
            <div class="row">
                <div class="modulTittle col-lg-6">
                    <h2>
                        E-export Frequently Asked Questions
                    </h2>
                    <p class="lead">
                        Get ready for innovations now!

                        <br>
                        Medicawell works for you and its software every day
                        <br>
                        developing.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="guncellemeScrollContent">
                        <div class="guncellemeItem">
                            <p class="boxTitle">
                                What is required to begin e-export?
                            </p>
                            <p class="boxIcerik">
                                Medicawell Global Package selection with features suitable for overseas sales
                                by contracting with a shipping company
                                Start global sales.
                            </p>
                        </div>
                        <div class="guncellemeItem">
                            <p class="boxTitle">

                                Can I manage all languages ​​with a single admin panel?
                            </p>
                            <p class="boxIcerik">

                                Yes, you can enter your products and content in all languages ​​in a single panel in Medicawell Global E-export packages.
                            </p>
                        </div>
                        <div class="guncellemeItem">

                            <p class="boxTitle">
                                Which packages of Medicawell can I e-export?
                            </p>
                            <p class="boxIcerik">
                                Medicawell's Special Extra and above all packages can be e-export. All you have to do is to contact our customer representatives and add the necessary modules for E-Export to your packages.
                            </p>
                        </div>
                        <div class="guncellemeItem">
                            <p class="boxTitle">

                                Can I manage all languages ​​with a single admin panel?
                            </p>
                            <p class="boxIcerik">

                                Yes, you can enter your products and content in all languages ​​in a single panel in Medicawell Global E-export packages.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="PaketAvantajContent ihracatContentOneCikanlar anasayfaTittle">
    <div class="container">
        <div class="row wow bounceInDown">
            <div class="col-lg-12">
                <h2>
                    What Features
                </h2>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">
                    <img src="~/images/products/coklu_dil.jpg" img class="img-responsive" />
                    <h3>

                        Multi Language
                    </h3>
                    <p>
                        One of the most important features you can make e-export multi-language infrastructure Medicawell Global Package! Your site works with dozens of different language options, you can make different language entries of your products and other content through a single panel.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">

                    <img src="~/images/products/coklu_para_birimi.jpg" img class="img-responsive" />
                    <h3>
                        Multiple Currency
                    </h3>
                    <p>
                        The currency of each country can be defined separately. With the Medicawell setup module you can sell your products in different currencies, you can collect from that unit as supported by your payment system.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">
                    <img src="~/images/products/lokasyon_bazli_ziyaretci.jpg" img class="img-responsive" />
                    <h3>

                        Location Based Visitor Recognition
                    </h3>
                    <p>
                        Your visitors will be from different countries in E-Export. Medicawell's unique technology understands the country in which visitors enter your site and make changes accordingly. For example, if you are logged in to America, your site will appear in English and the currency will be automatically converted into dollars.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">

                    <img src="~/images/products/lokasyon_bazli_fiyat.jpg" img class="img-responsive" />
                    <h3>
                        Location Based Different Price Description

                    </h3>
                    <p>
                        Sell ​​to each country at different prices! With this unique feature of Medicawell, you can sell a 10 TL product to US $ 12 for France and 15 Euro for France.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">

                    <img src="~/images/products/ziyaretci_ulke.jpg" img class="img-responsive" />
                    <h3>
                        Visitor's Login
                    </h3>
                    <p>
                        Medicawell makes its e-commerce site through Global agreements and publishes it from the country or country closest to it. It provides this service with more than 200 Pop points over 100 Different Locations in total. In this way, your site works quickly in different countries, your visitors shop more easily. This feature will also increase your Global Seo Score.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 eihracatItem">
                <div class="oneCikanBlock">

                    <img src="~/images/products/yurtdisi_kargo_entegrasyonu.jpg" img class="img-responsive" />
                    <h3>
                        International Cargo Integrations
                    </h3>
                    <p>
                        Full integration with the shipping companies you are going to send abroad. Because each country's expert cargo company is different, facilitate your business by providing integration with multiple shipping companies for overseas sales.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="PaketAvantajContent ihracatContentHizliBaslangic anasayfaTittle">
    <div class="container">
        <div class="row wow bounceInDown">
            <div class="col-lg-12">
                <h2>
                    Quick Start to E-Export
                </h2>
                <p>
                    Overseas Marketplace Integrations
                </p>
                <div class="center-block">
                    <span class="altCizgi_97"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="oneCikanBlock">

                    <img src="~/images/products/ebay_entegrasyon.jpg" img class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="oneCikanBlock">

                    <img src="~/images/products/amazon_entegrasyon.jpg" img class="img-responsive" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="oneCikanBlock">

                    <img src="~/images/products/aliexpress_entegrasyon.jpg" img class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>

