
@{
    ViewBag.Title = "project4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>Projects 4 Columns</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/project1">Projects</a></li>
                        <li>Projects 4 Columns</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="latest-project sec-padd-top four-column">
    <div class="container">

        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-project">
                        <figure class="imghvr-shutter-in-out-horiz">
                            <img src="/images/project/16.jpg" alt="Awesome Image" />
                            <figcaption>
                                <div class="content">
                                    <a href="/Home/projectSingle"><h4>Latest Technology</h4></a>
                                    <p>Consulting</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/17.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Audit & Assurance</h4></a>
                                        <p>Financial</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- /.single-latest-project-carousel -->
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/18.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Business Growth</h4></a>
                                        <p>Growth</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/19.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Transporation Service</h4></a>
                                        <p>Marketing</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-project">
                        <figure class="imghvr-shutter-in-out-horiz">
                            <img src="/images/project/20.jpg" alt="Awesome Image" />
                            <figcaption>
                                <div class="content">
                                    <a href="/Home/projectSingle"><h4>Latest Technology</h4></a>
                                    <p>Consulting</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/21.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Audit & Assurance</h4></a>
                                        <p>Financial</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- /.single-latest-project-carousel -->
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/22.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Business Growth</h4></a>
                                        <p>Growth</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/23.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Transporation Service</h4></a>
                                        <p>Marketing</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-project">
                        <figure class="imghvr-shutter-in-out-horiz">
                            <img src="/images/project/24.jpg" alt="Awesome Image" />
                            <figcaption>
                                <div class="content">
                                    <a href="/Home/projectSingle"><h4>Latest Technology</h4></a>
                                    <p>Consulting</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/25.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Audit & Assurance</h4></a>
                                        <p>Financial</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div><!-- /.single-latest-project-carousel -->
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/26.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Business Growth</h4></a>
                                        <p>Growth</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="item">
                    <div class="single-latest-project-carousel">
                        <div class="single-project">
                            <figure class="imghvr-shutter-in-out-horiz">
                                <img src="/images/project/27.jpg" alt="Awesome Image" />
                                <figcaption>
                                    <div class="content">
                                        <a href="/Home/projectSingle"><h4>Transporation Service</h4></a>
                                        <p>Marketing</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </div>
</section>

