
@{
    ViewBag.Title = "service3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>Performance</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/service">Service</a></li>
                        <li>Performance</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="service style-2 sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="service-sidebar">
                    <ul class="service-catergory">
                        <li><a href="/Home/service1">Business Growth</a></li>
                        <li><a href="/Home/service2">Sustainability</a></li>
                        <li class="active"><a href="/Home/service3">Performance</a></li>
                        <li><a href="/Home/service4">Advanced Analytics</a></li>
                        <li><a href="/Home/service5">Organization</a></li>
                        <li><a href="/Home/service6">Customer Insights</a></li>

                    </ul>

                    <br><br>
                    <div class="inner-title">
                        <h3>Our Brochures</h3>
                    </div>
                    <div class="brochures">

                        <ul class="brochures-lists">
                            <li><a href="#"><span class="fa fa-file-pdf-o"></span>Our Presentation.PDF</a></li>
                            <li><a href="#"><span class="fa fa-file-word-o"></span>Financial Report.DOC</a></li>
                        </ul>
                    </div>

                    <div class="contact-info2">
                        <h4>Contact Us</h4>
                        <div class="text">
                            <p>Please find below contact details <br>and contact us today! Our experts always ready to help you. </p>
                        </div>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: (+90) 212 801 4255</li>
                            <li><i class="fa fa-envelope"></i>info@medicawell.com</li>
                        </ul>
                        <a href="#" class="thm-btn">Get Free Quote</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="outer-box">
                    <div class="text">
                        <p>We work closely with Employers across all industry sectors to ensure that their internal sed Human Resource systems processes align to their business requirements idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the great explorer of the truth. </p> <br>
                        <p>Take a 360-degree sed view of yours situations using our seds deep experience, industries specialization and global reach ensure that their internal sed Human Resource systems processes align to their business requirements idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings ensure that their internal sed Human Resource systems processes align to their business requirements ut idea of denouncing pleasure and praising pain was born and I will give you a complete account seds expound the actual teachings.</p><br><br>
                    </div>
                    <div class="section-title">
                        <h3>Key Benefits of the Service</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="text">
                                <p>Beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire trouble.</p><br>
                            </div>
                            <ul class="benifit-list">
                                <li><i class="fa fa-angle-right"></i>Develop new ideas and market them</li>
                                <li><i class="fa fa-angle-right"></i>Build leadership and management skills</li>
                                <li><i class="fa fa-angle-right"></i>Improve manufacturing processes</li>
                                <li><i class="fa fa-angle-right"></i>Build a business strategy and plan</li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="video-image-box">
                                <figure class="image"><img src="/images/service/12.jpg" alt=""><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="video-fancybox overlay-link lightbox-image"><span class="icon icon-arrows4"></span></a></figure>

                            </div>
                        </div>
                    </div><br><br>
                    <div class="section-title">
                        <h3>Performance System </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="accordion-box accordion-style-two">
                                <!--Start single accordion box-->
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn">
                                        <p class="title">Customer Insights</p>
                                        <div class="toggle-icon">
                                            <span class="plus fa fa-arrow-circle-o-right"></span><span class="minus fa fa-arrow-circle-o-right"></span>
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>
                                                Employers across all industry sectors to ensure that their internal sed HR systems processes align to their business requirements idea of denouncing pleasure and praising pain expound.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--Start single accordion box-->
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn active">
                                        <p class="title">Customer Experience</p>
                                        <div class="toggle-icon">
                                            <i class="plus fa fa-arrow-circle-o-right"></i><i class="minus fa fa-arrow-circle-o-right"></i>
                                        </div>
                                    </div>
                                    <div class="acc-content collapsed">
                                        <div class="text">
                                            <p>
                                                Employers across all industry sectors to ensure that their internal sed HR systems processes align to their business requirements idea of denouncing pleasure and praising pain expound.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!--Start single accordion box-->
                                <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="acc-btn">
                                        <p class="title">Leading of Way</p>
                                        <div class="toggle-icon">
                                            <i class="plus fa fa-arrow-circle-o-right"></i><i class="minus fa fa-arrow-circle-o-right"></i>
                                        </div>
                                    </div>
                                    <div class="acc-content">
                                        <div class="text">
                                            <p>
                                                Employers across all industry sectors to ensure that their internal sed HR systems processes align to their business requirements idea of denouncing pleasure and praising pain expound.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text">
                                <p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system no one rejects, dislikes, or avoids pleasure itself.</p><br>
                                <p>Expound the actually teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

        </div>
    </div>
</section>

