
@{
    ViewBag.Title = "service6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>Customer Insights</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/service">Service</a></li>
                        <li>Customer Insights</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="service style-2 sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="service-sidebar">
                    <ul class="service-catergory">
                        <li><a href="/Home/service1">Business Growth</a></li>
                        <li><a href="/Home/service2">Sustainability</a></li>
                        <li><a href="/Home/service3">Performance</a></li>
                        <li><a href="/Home/service4">Advanced Analytics</a></li>
                        <li><a href="/Home/service5">Organization</a></li>
                        <li class="active"><a href="/Home/service6">Customer Insights</a></li>

                    </ul>

                    <br><br>
                    <div class="inner-title">
                        <h3>Our Brochures</h3>
                    </div>
                    <div class="brochures">

                        <ul class="brochures-lists">
                            <li><a href="#"><span class="fa fa-file-pdf-o"></span>Our Presentation.PDF</a></li>
                            <li><a href="#"><span class="fa fa-file-word-o"></span>Financial Report.DOC</a></li>
                        </ul>
                    </div>

                    <div class="contact-info2">
                        <h4>Contact Us</h4>
                        <div class="text">
                            <p>Please find below contact details <br>and contact us today! Our experts always ready to help you. </p>
                        </div>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: (+90) 212 801 4255</li>
                            <li><i class="fa fa-envelope"></i>info@medicawell.com</li>
                        </ul>
                        <a href="#" class="thm-btn">Get Free Quote</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="outer-box">
                    <div class="section-title">
                        <h3>Service Overview</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <h4 class="title-2">We should provide more flexibility, based on insight, to better meet your needs.</h4><br>
                            <div class="text">
                                <p>To deliver sustainable growth and profitability in a digitally disrupted world, organizations need to enhance their business value. Our services help to integrate sustainable organizations' strategies, operating models, processes and technologies.</p><br>
                                <p>Creating sustainable value and outperforming the has never been more challenging. Empowered customers are defining business on their own terms. Regulatory and workforce changes are further influencingmarkets..</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="img-box"><a href="#"><img src="/images/service/11.jpg" alt=""></a></div>
                        </div>
                    </div><br><br>
                    <div class="border-bottom"></div>
                    <br><br>
                    <div class="section-title">
                        <h3>Research Analysis</h3>
                    </div>
                    <div class="text">
                        <p>Performing the competition has never been more challenging. Empowered customers are defining business on their own terms. Regulatory and workforce changes are further influencing volatile markets. Pressures from supply chain risk and shifting markets are increasing Creating sustainable value and outperforming the competition.</p>
                    </div>
                    <div class="analysis-chart">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="single-item center">
                                    <img src="/images/service/1.png" alt="">
                                    <h4>Analysis One</h4>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="single-item center">
                                    <img src="/images/service/2.png" alt="">
                                    <h4>Analysis Two</h4>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-6">
                                <div class="single-item center">
                                    <img src="/images/service/3.png" alt="">
                                    <h4>Analysis Three</h4>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="analysis-result">
                        <h4>The Result:</h4>
                        <p>To deliver sustainable growth and profitability in a digitally disrupted world, organizations need to enhance their business value. Our services help to integrate sustainable approaches into organizations' strategies, operating models, processes and technologies.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
