
@{
    ViewBag.Title = "team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>Our Team</h3>
        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="/Home/index">Home</a></li>
                        <li><a href="/Home/about">About Us</a></li>
                        <li>Our Team</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-share-alt"></i>share</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>

<section class="our-team sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Our team</h2>
        </div>
        <div class="row">
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t1.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Tunay Sabri Yılmaz</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +123-456-7890</li>
                            <li><i class="fa fa-envelope"></i><a href="#">tunaysabriyilmaz@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t2.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Çağrı Çimenci</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +987-654-3210</li>
                            <li><i class="fa fa-envelope"></i><a href="#">cagricimenci@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t3.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Metin Erbek</h4></a>
                        <p>Software Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +456-789-0123</li>
                            <li><i class="fa fa-envelope"></i><a href="#">metinerbek@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>
            <article class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="/images/team/t4.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info">
                        <a href="#"><h4>Abdulsamet Tutuş</h4></a>
                        <p>Electiric & Electronic Engineer</p>
                        <ul>
                            <li><i class="fa fa-phone"></i>Phone: +789-012-3456</li>
                            <li><i class="fa fa-envelope"></i><a href="#">abdulsamettutus@medicawell.com</a></li>
                        </ul>
                    </div>

                </div>
            </article>

        </div>
    </div>

</section>
